pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background: #272822;
    border-radius: 0.3em;
}

code {
    color: #f8f8f2;
    font-family: monospace;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

span {
    &.green { color: #43a047; font-weight: 900; }

    &.blue { color: #00b0ff; font-weight: 900; }
}

button {
    color: white;
    height: 40px;
    border: none;
    width: 550px;
    display: block;
    cursor: pointer;
    padding: 0 20px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    &.green {
        background-color: #43a047;

        &:hover { background-color: darken(#43a047, 4); }
        &:active { background-color: darken(#43a047, 8); }
    }

    &.blue {
        background-color: #00b0ff;

        &:hover { background-color: darken(#00b0ff, 4); }
        &:active { background-color: darken(#00b0ff, 8); }
    }

    &.red {
        background-color: #d32f2f;

        &:hover { background-color: darken(#d32f2f, 4); }
        &:active { background-color: darken(#d32f2f, 8); }
    }

}

.row {
    display: flex;
}

.column {
    margin: 0 8px;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
}